.LearningPanel {
  .word-texts {
    margin: 15px 0;
    text-align: center;
  }

  .progress-bar {
    width: 100%;
    top: -30px;
  }

  .learning-button-group {
    position: fixed;
    bottom: 30px;
    button {
      font-size: large;
    }
  }

  .finish-message {
    text-align: center;
    &> :not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .undo-alert-bar {
    width: 100%;
    bottom: 180px;
  }
}
