.LearningPanel {
  .word-texts {
    margin: 15px 0;
    text-align: center;
  }

  .progress-bar {
    width: 100%;
    top: -30px;
  }

  .learning-button-group {
    position: fixed;
    bottom: 30px;
    button {
      font-size: large;
    }
  }
}
